<?php

// Config File
// Copy file, remove .example extension, and add real values. The config.php file is ignored by git, so it will not check into source control.

return array(
    'youtube_api' => 'apikeyhere',
);